/* app css stylesheet */

body {
 font-family: 'Montserrat', sans-serif;
 letter-spacing:-1px;
 background-color: #F7F9F8;
 padding-left: 0;
 padding-right: 0;
 background-color: #F8F7F3;
}

header{
  background-color: #1ABC9C;
  height: 5px;
  margin:0;
  padding: 0;
}

/*Use to pad the contents inside a container*/
.module {
  padding: 1em;
}

/*Use to remove the left and right padding on a bootstrap container*/
.nopad {
  padding: right: 0;
  padding-left: 0;
}

/*Login*/

.logo{
  margin: 2em 0;
}

.login-buttons > button {
  margin: 0.25em;
}

/*NavBar*/
.navbar-inner {
  background:#1ABC9C;
  background-image: none;
  text-shadow:none;
}

.navbar-inner a.brand {
  color: #fff;
  text-shadow: 1px 1px #3E9F81;
}

.navbar .nav li a {
  color: #fff;
  text-shadow: 1px 1px #3E9F81;
}

/*Your List*/

.list-item {
  margin: 0.5em 0;
  background-color: #FFF;
  -webkit-box-shadow:  0px 8px 6px -6px rgba(0, 0, 0, 0.1); 
  box-shadow:  0px 8px 6px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e4e4e4;
}

.list-item p {
  color: #888;
}

/*-----------TYPE----------*/
.tagline {
  color:#999;
  font-weight: 100;
  margin-bottom: 1em;
}

.list-item h4{
  color:#17846E;
  margin-bottom: 0;
}

.list-item .from {
  color: #CECEBF;
}

.list-item .tags {
  color: #ACAC9D;
}

.list {
  margin-top: 1.25em;
}

.list .category{
  text-transform: uppercase;
  margin-left: 0.75em;
  font-size: 1.25em;
}

.list-header {
  margin-left: 1em;
}

/*-----STACKED LIST-----*/
.nav, .nav-stacked ul{
  margin: 0;

}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
