<div class="container nopad" ng-controller="MainCtrl">

		<p class="well well-small">Filter: <input ng-model='filterText'></p>
	
		<div class="list" ng-repeat='(tag, items) in tags'><span class="category">{{tag}}</span>
	  		<div class="list-item" ng-repeat='item in items | filter:filterText'>
	  			<div class="module">
	  				<p>{{item}}</p>
	  				<p class="from">from Holly</p>
	  			</div>
	  		</div>
	  	</div>
	  	<!--<ul>
		    <li ng-repeat='(tag, items) in tags'>{{tag}}
		      <ul>
		        <li ng-repeat='item in items | filter:filterText'>{{item}}</li>
		      </ul>
		    </li>
	  	</ul>-->	
</div> <!--/container-->